@{
    ViewData["Title"] = "Home Page";
}
<form onsubmit="return SaveMateri()" method="POST">
    <div class="form-control">
        <input type="text" id="MateriTitle" placeholder="Materi Title" />
        <input type="text" id="MateriDescription" placeholder="Materi Description" />
        <input type="text" id="CreatedBy" placeholder="Created By" />
        <input type="text" id="Remarks" placeholder="Remarks" />

        <input type="submit" value="Save Materi" />
    </div>
</form>