@{
    ViewData["Title"] = "Profile";
}
 
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3 bg-light">
          <div class="card mb-4 shadow-sm p-2">
          <img style="width:100%"  src="~/images/logosmall.png" />          
                        <small class="text-muted pt-1 text-center">logo latihan web</small>

          </div>
        </div> 
            <div class="col-md-9">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4>Latihan Web </h4>
              <br>
              <p class="card-text">Website Latihan adalah Pembelajaran membuat Website menggunakan Visual Studio Code yang didalamnya juga menggunakan teknologi NET.Core dari Microsoft.</p>
              <p class="card-text">Selain teknologi NET.Core, Latihan Pembuatan Website ini juga dipadukan dengan yang lainnya seperti :</p>
              <p class="card-text">1. Botsraps</p>
              <p class="card-text">2. Font Awesome</p>
              <p class="card-text">3. dan Teknologi Lainnya.</p>
              <p class="card-text">Maka dari itu sesuai jargon Latihan Website yaitu "Apa yang kami buat, Semoga dapat bermanfaat."</p>

                <small class="text-muted">Ahad, 1 Desember 2019</small>
              </div>
            </div>
          </div>
        </div>             
</main>
